*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* nav-container */
.nav-container{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
}
div nav  a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #FFFFFF;
}
div a{
    margin: 20px;
    text-decoration: none;
    color: #FFFFFF;

}
.btn{
    padding: 10px 30px;
    margin-right: 20px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;
}
/* conatiner-1  */
.conatiner1{
    background: url("assests/home-title1.jpg")  center/cover no-repeat;
    height: 100vh;
    width: 100%;

}
.hero{

    text-align: center;
    margin: 220px;
}
.hero h5{
    font-size: 23px;
    color: #ffffff;
    font-family: "cormorant";
}
.hero h1{
    font-size: 65px;
    color: #FFFFFF;
    font-family: "Amini";
}
.hero button{
    padding: 10px 40px;
    color: white;
    background-color: transparent;
    border-color: #FFFFFF;
    margin: 20px;
}
/* container2 */
.container2{
    background-color: #000000;
    padding: 100px 200px;
    color: #FFFFFF;
}
.image{
    width: 400px;
    height: 500px;
}
.container2-flex{
    display: flex;
}
.left-container{
    width: 350px;
    text-align: center;
    padding: 50px 0px;
}
.left-container h5{
    color: #FFFFFF;
    font-size: 21px;
    font-family: "cormorant", sans-serif;
}
.left-container h2{
    color: #FFFFFF;
    font-size: 50px;
    font-family: "Amiri", sans-serif;
}
.left-container p{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 10px;
}
.left-container span{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 10px;
}
.right-container{
    width: 350px;
    text-align: center;
    padding: 50px 0px;
}
.right-container h5{
    color: #FFFFFF;
    font-size: 21px;
    font-family: "cormorant", sans-serif;
}
.right-container h2{
    color: #FFFFFF;
    font-size: 50px;
    font-family: "Amiri", sans-serif;
}
.right-container p{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 10px;
}
.right-container span{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 10px;
}
/* container3 */
.container3{
    background: url("assests/home-title2.jpg")cover/center no-repeat;
}
.image-1{
    width: 100%;
    height: 100vh;
    position: fixed;
}
/* container4 */
.container4{
    background-color: #000000;
    color:#FFFFFF ;
}