*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

/* nav-bar */

.nav-bar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
}

div nav  a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #FFFFFF;
}

div a{
    margin: 20px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
}

.button{
    padding: 10px 30px;
    margin-right: 20px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;
}

.button:hover{
    background-color: #FFFFFF;
    color: #555;
}


/* section1 */

.section1{
    background: url("Assets/About-Titleimg.jpg") center/cover no-repeat fixed;
    height: 100vh;
    width: 100%;
}

.herosec h1{
    font-size: 65px;
    color: #FFFFFF;
    font-family: "Amini";
    text-align: center;
    margin: 220px;
}

/* sectionr2 */

.section2{
    background-color: #000000;
    display: flex;
    gap: 100px;
    padding: 150px 200px;
}

.section2-image{
    width: 500px;
    height: 500px;
}

.right-box{
    padding: 80px 0px;
}

.right-box h5{
    color: #FFFFFF;
    font-size: 21px;
    font-family: "cormorant",sans-serif;
}

.right-box h2{
    font-size: 58px;
    color: #FFFFFF;
    font-family: "Amiri", sans-serif;
    margin: 20px 0px;
}

.right-box p{
    font-size: 18px;
    line-height: 1.8rem;
    color: #FFFFFF;
    font-family: "montserrat", sans-serif;
}

.right-box button{
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    border-color: #FFFFFF;
    background-color: transparent;
    margin: 40px 0px;
    font-weight: 800;
}

.right-box button:hover{
    background-color: #FFFFFF;
    color: #555;
}

.section2-img{
    width: 1600px;
    height: 100px;
}

/* section3 */

/* .section3{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 150px 200px;
}

.section3 h3{
    font-size: 30px;
    font-family: sans-serif;
    cursor:pointer;
}

.section3 h5{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 100;
}

.section3 p{
    font-size: 18px;
    font-weight: 100;
}

.tag a{
    font-size: 18px;
    font-weight: 100;
}

.open{
    margin-right: 200px;
}

.tag h3{
    margin-left: 15px;
}

.tag{
    
    margin-right: 200px;;
} */


.section6{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 150px 200px;
}

.section6 h3{
    font-size: 30px;
    font-family: sans-serif;
    cursor:pointer;
}

.section6 h5{
    font-size: 17px;
    line-height: 1.5;
    font-weight: 100;
}

.section6 p{
    font-size: 17px;
    font-weight: 100;
}

.tag a{
    font-size: 17px;
    font-weight: 100;
}

.open{
    margin-right: 200px;
}

.tag h3{
    margin-left: 15px;
}

.tag{
    
    margin-right: 200px;;
}

#scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 25px;
  border-radius: 50%;
  border: none;
  font-size: 15px;
  font-weight: 900;
  background: white;
  cursor: pointer;
  display: none;

}