*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
}

/* nav-bar */

.nav-bar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
}
div nav  a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #FFFFFF;
}
div a{
    margin: 20px;
    text-decoration: none;
    color: #FFFFFF;

}
.button{
    padding: 10px 30px;
    margin-right: 20px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;
}

/* section1 */
.section1{
    background: url("Assets/Contact-Titleimg.jpg") center/cover no-repeat fixed;
    height: 80vh;
    width: 100%;

}
.herosec{
    text-align: center;
    margin: 220px;
}

.herosec h1{
    font-size: 85px;
    color: #FFFFFF;
    font-family: "Amini";
}
/* section2 */
.section2{
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 100px 200px;

}
.left-box h4{
    color: #FFFFFF;
}
.left-box h1{
    color: #FFFFFF;
}


.left-box{
    flex:1;
}

.left-box h4{
    font-style:italic;
    font-weight:300;
    margin-bottom:20px;
}

.left-box h1{
    font-family:'Playfair Display', serif;
    font-size:60px;
    margin-bottom:30px;
}

.left-box p{
    color:#ccc;
    line-height:1.8;
    margin-bottom:40px;
    max-width:500px;
}

.info{
    margin-bottom:15px;
    color:#ddd;
    font-size:16px;
}

.info span{
    margin-right:10px;
}

.right-box{
    flex:1;
}

form input,
form textarea{
    width:100%;
    background:transparent;
    border:1px solid #555;
    padding:18px;
    margin-bottom:25px;
    color:#fff;
    font-size:16px;
}

form textarea{
    height:140px;
    resize:none;
}

form input::placeholder,
form textarea::placeholder{
    color:#aaa;
}

button{
    background:transparent;
    border:1px solid #fff;
    color:#fff;
    padding:12px 40px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#fff;
    color:#000;
}

.innermap{
    width: 100%;
    background-color: #000000;
}
/*section4  */
.section4{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 150px 200px;
}
.section4 h3{
    font-size: 25px;
    font-family: sans-serif;
    cursor:pointer;
}
.section4 h5{
    font-size: 18px;
}
.section4 p{
    font-size: 18px;
}

.tag{
    display: grid;
}