*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* nav-bar */

.nav-bar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
}

div nav  a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #FFFFFF;
}

div a{
    margin: 20px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
}

.button{
    padding: 10px 30px;
    margin-right: 20px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;
}

.button:hover{
    background-color: #FFFFFF;
    color: #555;
}

/* section1 */

.section1{
    background: url("Assets/Home-Titleimg1.jpg") center/cover no-repeat fixed;
    height: 100vh;
    width: 100%;
}

.herosec{
    text-align: center;
    margin: 220px;
}

.herosec h5{
    font-size: 23px;
    color: #ffffff;
    font-family: "cormorant";
}

.herosec h1{
    font-size: 65px;
    color: #FFFFFF;
    font-family: "Amini";
}

.herosec button{
    padding: 10px 40px;
    color: white;
    background-color: transparent;
    border-color: #FFFFFF;
    margin: 20px;
}

/* section2 */

.section2{
    background-color: #000000;
    padding: 100px 200px;
    color: #FFFFFF;
}

.image{
    width: 400px;
    height: 600px;
}

.section2-flex{
    display: flex;
}

.left-box{
    width: 350px;
    text-align: center;
    padding: 50px 0px;
    margin-right: 100px;
}

.left-box h5{
    color: #FFFFFF;
    font-size: 21px;
    font-family: "cormorant", sans-serif;
}

.left-box h2{
    color: #FFFFFF;
    font-size: 50px;
   
    font-family: "Amiri", sans-serif;
}
.left-box p{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 10px;
}

.left-box span{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 10px;
}

.right-box{
    width: 350px;
    text-align: center;
    padding: 50px 0px;
    margin-left: 100px;
}

.right-box h5{
    color: #FFFFFF;
    font-size: 21px;
    font-family: "cormorant", sans-serif;
}

.right-box h2{
    color: #FFFFFF;
    font-size: 50px;
    font-family: "Amiri", sans-serif;
}

.right-box p{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 10px;
}

.right-box span{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 10px;
}

/* section3 */

.section3{
    width: 100%;
    height: 100vh;
    background-color:transparent;
    background: url("Assets/Home-Titleimg2.png") center/cover no-repeat fixed; 
}

.image-1{
    height: 100vh;
    position: relative;
}

/* section4 */

.section4{
    background-color: #000000;
    color:#FFFFFF ;
}

.title{
    color: #FFFFFF;
    font-size: 58PX;
    font-family: "Amiri", sans-serif;
    text-align: center;
    padding: 100px 0px 20px; 
}

.para{
    font-size: 20px;
    font-family: "montosarret";
    color: #FFFFFF;
    text-align: center;
    line-height: 2rem;
}

.menu-4 {
    padding: 20px 0px;
}

.menu-4 h4{
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Amiri', sans-serif;
}

.menu-4 p{
    color: #FFFFFF;
    font-size: 15px;
    font-family: "montserrat", sans-serif;
}

.menu-4 button{
    color: #FFFFFF;
    font-size: 15px;
    border-color: white;
    padding: 10px 40px;
    background-color: transparent;
    font-weight: 600;
    margin-left: 200px;
}

.section4-image{
    width:600px;
    height: 500px;
}

.section4-flex{
    display: flex;
    justify-content: space-between;
    padding: 100px 250px;
}

/* section6 */

.section6{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 150px 200px;
}

.section6 h3{
    font-size: 25px;
    font-family: sans-serif;
    cursor:pointer;
}

.section6 h5{
    font-size: 18px;
}

.section6 p{
    font-size: 18px;
}

.section5{
    display: flex;
}

.section5-img{
    width: 563px;
    height: 500px;
}

.tag{
    display: grid;
}