*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* nav-bar */
.nav-bar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
}

div nav  a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #FFFFFF;
}

div a{
    margin: 20px;
    text-decoration: none;
    color: #FFFFFF;

}

.button{
    padding: 10px 30px;
    margin-right: 20px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;
}

.button:hover{
    background-color: #FFFFFF;
    color: #555;
}

/* section1 */
.section1{
    background: url("Assets/Menu-Titleimg.jpg") center/cover no-repeat fixed;
    height: 100vh;
    width: 100%;


}
.herosec{
    text-align: center;
    margin: 220px;
}

.herosec h1{
    font-size: 85px;
    color: #FFFFFF;
    font-family: "Amini";
}

/* section2 */
.section2{
    background-color: #000000;
    color: #FFFFFF;
}

.section2 h5{
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 100px 0px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section2 h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    padding: 0px 0px 0px;
}

.section2-flexbox{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}

.left-box h4{
    font-size: 30px;
}

.left-box p{
    font-size: 25px;
}

.right-box h4{
    font-size: 30px;
}

.right-box p{
    font-size: 25px;
}

/* section3 */
.section3{
    background: url("Assets/Menu-img.jpg") center/cover no-repeat fixed;
    width: 100%;
    height: 80vh;
    background-color:transparent;
}

.img{
    width: 100%;
    height: 700px;
    background-color: #000000;
    position: relative;
}

/* section4 */
.section4{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 150px 200px;
}

.section4 h3{
    font-size: 25px;
    font-family: sans-serif;
    cursor:pointer;
}

.section4 h5{
    font-size: 18px;
}

.section4 p{
    font-size: 18px;   
}

.tag{
    display: grid;
}