body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 40px;
  background: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?auto=format&fit=crop&w=1600&q=80")
    no-repeat center/cover;
}

.form-box {
  background: white;
  padding: 60px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 8px ;
  margin-top: 5px;
  cursor: pointer;
  background: rgb(90, 90, 237);
  color: azure;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: center;
}
