*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at left,rgb(29, 26, 20),#0a1a3a,#000);
    color: white;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    font-weight: 800;
    text-transform: uppercase;
}

.square{
    height: 20px;
    width: 20px;
    background: linear-gradient(45deg,orange,blue,black);
    border-radius: 5px;
}

.logo-symbol{
    display: flex;
    gap: 20px;
    font-weight: 800;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}

.logo span{
    color: #ff8a00;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #ddd;
    transition: color 0.3s;
}

nav a:hover{
    color: rgb(186, 130, 130);
}

.nav-btn{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.hero{
    text-align: center;
    padding: 120px 20px;
}

.hero h1{
    font-size: 82px;
    font-weight: 900;
    line-height: 1.1;
}

.gradient-text{
    background:linear-gradient(90deg, #ff7a18, #1e90ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero p{
    max-width: 700px;
    margin: 30px auto;
    color: #aaa;
    line-height: 1.6;
}

.button{
    margin-top: 40px;
}

.primary-btn,
.secondary-btn{
    padding: 12px ;
    border-radius: 20px;
    font-size: 15px;
    cursor:pointer;
    margin: 0 10px;
    transition: all 0.4s ease;
}

.primary-btn{
    background: linear-gradient(90deg,#ff8a00,#ff5e00);
    border: none;
    color: white;
}

.primary-btn:hover{
    background: linear-gradient(90deg,#4da3ff,#7bdfff);
}

.secondary-btn{
    background: transparent;
    border: 1px solid #555;
    color: white;
}

.secondary-btn:hover{
    border-color: #4da3ff;
    color: #4da3ff;
    transform: translateX(-4px);
}

.status-card {
  margin-left: 60px;
  width: 280px;
  padding: 25px;
  border-radius: 20px;
  background: linear-gradient(135deg, #2a1400, #00132a);
  box-shadow: 0 0 30px rgba(255, 138, 31, 0.3);
  display: flex;
  gap: 20px;
}

.small {
  font-size: 12px;
  color: #555;
}

.flash{
    width: 30px;
    height: 30px;
    border-radius: 60%;
    object-fit: cover;
    background: linear-gradient(45deg,orange,blue,black); 
}

@media(max-width:900px){
    .hero h1{
        font-size: 56px;
    }

    .navbar{
        padding: 20px 40px;
    }
}

@media(max-width:600px){
    .navbar{
        flex-direction: column;
        gap: 15px;
    }

    nav{
        display: none;
    }

    .hero h1{
        font-size: 42px;
    }

    .buttons button{
        display: block;
        margin: 15px auto;
        width: 80%;
    }
}