* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.team-section {
    background: linear-gradient(to right, #5f0a87, #a4508b);
    padding: 80px ;
    font-family: Arial, Helvetica, sans-serif;
}

.team-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: auto;
}

.team-card {
    text-align: center;
    color: #0f0101;
}

.team-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 6px solid #fff;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
}

.img-hover:hover {
    transform: scale(1.1);
}

.team-card h3 {
    font-size: 27px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.team-card p {
    font-size: 20px;
    margin-bottom: 10px;
    
}

.hover:hover{
    transform: scale(1.1);
}

.social-icons {
    margin-top: 15px;
}

.social-icons i {
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #d0cdc5;
}
