* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;  
    background: linear-gradient(#f8fbff,#ecf2fc);
}

.security-section {
    padding: 80px 80px;
    text-align: center;
}

.security-section h1 {
    font-size: 46px;
    color: #0a2540;
    margin-bottom: 60px;
    line-height: 1.4;
}

.card-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
   
    width: 350px;
    text-align: left;
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 20px;
    gap: 20px;
}
.img-desc{
    display: flex;
    gap: 30px;
}

.number {
    color: #677a94;
    font-size: 14px;
    font-weight: bold;
    margin-top: 9px;
}

.card h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #0a2540;
}

.card p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
}
