* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #111;
}

.hero {
  min-height: 100vh;
  position: relative;
  background: url("hero-bg.jpg") ; 
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

.navbar {
  position: relative;
  z-index: 1;
  width: 92%;
  max-width: 1200px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 200px;
  
}
.logo img{
  height: 45px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 26px;
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #ff5a2b;
}

.nav-btn {
  background: #2ecc71;
  color: #fff;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}

.nav-btn:hover {
  transform: translateY(+3px);
  filter: brightness(1.05);
}

.hero-content {
  position: relative;
  z-index: 1;
  width: 92%;
  max-width: 1200px;
  margin: auto;
  
}

.hero-content h1 {
  color: #fff;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 800;
}

.orange {
  color: #ff5a2b;
}

.line {
  width: 70px;
  height: 4px;
  background: #fff;
  margin: 22px 0;
  border-radius: 10px;
}

.hero-content p {
  color: #ddd;
  max-width: 600px;
  line-height: 1.7;
  font-size: 14px;
}

.hero-buttons {
  margin-top: 28px;
  display: flex;
  gap: 15px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}

.btn-green {
  background: #2ecc71;
}

.btn-orange {
  background: #ff5a2b;
}

.btn:hover {
  transform: translateY(-2px);
  filter: brightness(1.05);
}

@media (max-width: 900px) {
  .nav-links {
    display: none; /* hide menu on mobile for simple version */
  }

  .hero-content h1 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .hero-content h1 {
    font-size: 32px;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
