* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: #fff;
  color: #333;
}

.header {
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #777;
}

.top-section {
  display: flex;
  padding: 20px 40px;
  gap: 30px;
  
}

.hero {
  flex: 2;
}

.hero img {
  width: 800px;
  height: 86%;
}

.gallery {
  flex: 1;
}

.gallery h3 {
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-grid img {
  width: 200px;
  height:200px;
}

.best-work {
  padding: 40px;
}

.best-work h2 {
  margin-bottom: 20px;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.work-grid img {
  width: 100%;
  height: 100%;
}

.bottom-section {
  display: flex;
  padding: 40px;
  gap: 40px;
}

.box {
  flex: 1;
}

.box h3 {
  margin-bottom: 10px;
}

.box p {
  color: #777;
  line-height: 1.6;
}

.box a {
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}
