* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(180deg, #050b16, #020611);
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu a {
  margin: 0 12px;
  text-decoration: none;
  color: #ccc;
}

.menu a.active {
  color: #4aa3ff;
  border-bottom: 2px solid #4aa3ff;
}

.btn {
  background: #2d8cff;
  border: none;
  padding: 10px 18px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.service-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 60px;
}

.card {
  background: #0c1626;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #2d8cff;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 20px;
}

.badge.right {
  left: auto;
  right: 15px;
}

.card-body {
  padding: 20px;
}

.meta {
  display: flex;
  justify-content: space-between;
  color: #4aa3ff;
  font-size: 12px;
}

.card-body h3 {
  margin: 10px 0;
  font-size: 20px;
}

.card-body p {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 15px;
}

.tags span {
  background: #16253d;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 6px;
  border-radius: 12px;
  color: #4aa3ff;
}

.card-body a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
