body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #bdbdbd;
}

.page{
    width: 780px;
    margin: 40px;
    border: 1px solid #333;
    background: #fff;
}

.banner{
    background:#9b4b2f ;
    padding: 40px 20px;
    text-align: center;
}

.banner h1{
    margin: 0;
    font-size: 34px;
    font-weight: 800;
    color: #111;
}

.content{
    background: #e5c37b;
    padding: 18px ;
}

.content h2 {
  font-size: 34px;
  font-weight: 800;
  color: #111;
}

.content p {
  margin: 10px 0;
  font-size: 18px;
  color: #111;
}
.fa-copyright{
    margin-left: 10px;
}