*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.resources{
    text-align: center;
    padding: 60px 20px;
    animation: fadeIn 1s ease-in;
}

.resources h2{
    font-size: 32px;
    margin-bottom:15px;
}

#subtitle{
    color: #666;
    margin-bottom: 40px;
}

.tabs{
    margin-bottom: 40px;
}

.tabs button{
    padding: 10px 22px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin: 0 5px;
    transition: translateY(-3px);
}

.tabs .active{
    background-color: #2c6bed;
    color: white;
    border: none;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.card{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    text-align: left;

}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    }

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover img{
    transform: scale(1.08);
}

.card h3{
    padding: 15px 20px 5px;
}

.card p{
    padding: 0 20px 20px;
    color: #555;
    font-size: 14px;
}

@media (max-width:900px) {
    .cards{
        grid-template-columns: 1fr;
    }
}

@media (max-width:600px) {
    .cards{
        grid-template-columns: 1fr;
    }

    .tabs button{
        display: block;
        margin: 10px auto;
    }

    .card img{
        height: 180px;
    }

    .resources{
        padding: 40px 15px;
    }

}
